@media screen and (min-width: 768px) and (max-width: 1024px) {
  header .navgation .bars {
    display: block;
  }
  header .navgation .navs {
    display: none;
  }
  header .navgation .col-md-10 {
    display: flex;
    justify-content: end;
    align-items: center;
  }

  .reviews {
    min-height: auto;
  }
  .info {
    margin-bottom: 50px;
  }
  .info form select {
    margin-bottom: 1rem;
  }
  header .navgation .nav {
    display: none;
  }
  .info .description-text {
    width: 50%;
  }
  .info form {
    margin-top: 40px;
  }
  header .about-header {
    display: none;
  }
  .content-banner {
    margin-top: 10px;
  }
  .title-work {
    margin-top: 100px;
  }
  .work-1 .parent {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .slide-1 .swiper-pagination-bullet-active {
    background-color: #d31e4bed !important;
  }
  .slide-1 .swiper-pagination-bullet {
    opacity: 1 !important;
    background-color: #818181;
  }
}
/* moble & tablet */

@media (min-width: 576px) and (max-width: 767.98px) {
  header .about-header {
    display: none;
  }
  header .navgation .navs {
    display: none;
  }
  header .navgation .bars {
    display: block;
  }
  header .navgation .col-sm-10 {
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .parent-item-3 {
    display: none;
  }
  .parent-item-4 {
    display: none;
  }
  .parent-item-7 {
    display: none;
  }
  .parent-item-8 {
    display: none;
  }
  .parent-item-5 {
    grid-area: 1 / 2 / 6 / 10;
  }
  .parent-item-6 {
    grid-area: 6 / 2 / 9 / 10;
  }
  .info form {
    margin-bottom: 10px;
  }
  .info .imgInfo {
    display: none;
  }
  .title-work {
    margin-top: 100px;
  }
  .work-1 .parent {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .content-banner {
    margin-top: 10px;
  }
  .slide-1 .swiper-pagination-bullet-active {
    background-color: #d31e4bed !important;
  }
  .slide-1 .swiper-pagination-bullet {
    opacity: 1 !important;
    background-color: #818181;
  }
}

@media screen and (max-width: 575px) {
  .title-section {
    font-size: 24px;
  }
  header .about-header {
    display: none;
  }
  header .navgation .navs {
    display: none;
  }
  header .navgation .bars {
    display: block;
  }
  header .navgation .col-10 {
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .advertise h2 {
    font-size: 20px;
  }

  .content-banner {
    margin-top: 10px;
  }
  .title-work {
    margin-top: 60px;
  }
  .info .description-text {
    width: 70%;
  }
  .boxInfo {
    display: none;
  }
  .info form select {
    margin-bottom: 1rem;
    padding: 10px;
  }
  .info form {
    margin: 30px 0;
  }
  .parent-item-3 {
    display: none;
  }
  .parent-item-4 {
    display: none;
  }
  .parent-item-7 {
    display: none;
  }
  .parent-item-8 {
    display: none;
  }
  .parent-item-9 {
    display: none;
  }
  .parent-item-10 {
    display: none;
  }
  .parent-item-5 {
    grid-area: 1 / 2 / 6 / 11;
  }
  .parent-item-6 {
    grid-area: 6 / 2 / 9 / 11;
  }
  .work-1 .parent {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  form select {
    margin-bottom: 1rem;
  }
  form select option {
    border: none;
  }
  header .advertise-content .content-banner ul .btns {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  header .content-banner .modal-content .modal-body ul li .active {
    padding: 0 10px;
  }
  .slide-2 .swiper-slide-active {
    z-index: 11;
    height: auto;
    transform: scale(1.4, 0.8);
    border-radius: 10px;
  }
  header .advertise-content .content-banner ul {
    padding: 20px 10px;
  }
  .slide-1 .swiper-pagination-bullet-active {
    background-color: #d31e4bed !important;
  }
  .slide-1 .swiper-pagination-bullet {
    opacity: 1 !important;
    background-color: #818181;
  }
}
