@media screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9992;
  }
  header .header_section {
    margin-top: 0;
  }
  header .header_section .logo a img {
    width: 30%;
  }
  header .header_menu {
    display: none;
  }
  header .header_section .bar {
    display: block;
    justify-content: end;
    display: flex;
  }
  header .header_section .search {
    display: none;
  }
  header .header_section .sign {
    display: none;
  }
  .container {
    max-width: 832px;
  }
  .content .main .trending {
    display: flex;
    flex-wrap: nowrap;
    margin: -8px;
    overflow-x: scroll;
    padding: 8px;
  }
  .content {
    margin-top: 50px;
  }
  .content .main,
  .sidebar {
    padding: 15px;
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
  }
  .content .main .product .boxImg .img-product {
    height: 100px;
  }
  .content .sidebar {
    top: 50px;
  }
  .content .sidebar .sidebar__footer {
    display: none;
  }
  .content .sidebar__header .text-sidebar span {
    display: none;
  }
  .content .sidebar__header .fa-angle-left {
    display: none;
  }
  .content .product .content_item .content_2 a:nth-child(2) img {
    display: none;
  }
  .content .sidebar .sidebar__header {
    margin-left: -5px;
    padding: 14px 0;
  }
  footer .footer-2 .icon-footer {
    justify-content: start;
    margin-top: 10px;
  }
  .content .sidebar-tab .sidebar__header {
    margin-left: 32px;
    padding: 15px 0;
  }
  .content .sidebar .sidebar__header::after {
    display: none;
  }
  .content .sidebar .sidebar__header .text-sidebar .toggle-sliders {
    display: none;
  }
  .content .sidebar .sidebar__header .text-sidebar .sidebar-sliders {
    display: block;
  }
}
/* moble & tablet */

@media (min-width: 576px) and (max-width: 767.98px) {
  header {
    height: 60px;
  }
  header .header_menu {
    display: none;
  }
  .content .main .trending {
    display: flex;
    flex-wrap: nowrap;
    margin: -8px;
    overflow-x: scroll;
    padding: 8px;
  }
  header .header_section .logo a img {
    width: 50%;
  }
  .search {
    display: none;
  }
  .sign {
    display: none;
  }
  header .header_section .bar {
    display: block;
    display: flex;
  }
  .trending__right {
    margin-top: 10px;
  }
  .content .sidebar-tab .sidebar__footer {
    display: block;
  }
  .content .sidebar .sidebar__footer {
    display: none;
  }
  .content .sidebar .sidebar__header .text-sidebar .toggle-sliders {
    display: none;
  }
  .content .sidebar .sidebar__header .text-sidebar .sidebar-sliders {
    display: block;
  }
  .content .sidebar .sidebar__header {
    margin-left: -5px;
  }
  .filtes {
    display: none;
  }
  .filtess {
    display: none;
  }
  .nav__mobile {
    display: block;
  }
  .container {
    max-width: 640px;
  }
  header .header_section {
    margin: 0;
  }
  .content {
    margin-top: 60px;
  }
  .header_mobile .menu__body {
    height: calc(100% - 0px);
    overflow-y: auto;
  }
  .content .sidebar-tab .sidebar__header {
    padding: 10px 22px;
  }
}
/* mobile */

@media screen and (max-width: 575px) {
  header {
    height: 60px;
  }
  header .header_section .search {
    display: none;
  }
  header .header_section .sign {
    display: none;
  }
  header .header_section .bar {
    display: block;
    display: flex;
    justify-content: end;
  }
  .content {
    margin-top: 60px;
  }
  header .header_menu {
    display: none;
  }
  header .header_section .logo a img {
    width: 65%;
  }
  .content .main .trending {
    display: flex;
    flex-wrap: nowrap;
    margin: -8px;
    overflow-x: scroll;
    padding: 8px;
  }
  .content .main .trending .trending__right {
    margin-top: 10px;
  }
  .content .sidebar {
    top: 60px;
  }
  .content .sidebar .sidebar__header {
    margin-left: 8px;
  }
  .content .sidebar__footer {
    display: none;
  }
  .content .sidebar__header .text-sidebar span {
    display: none;
  }
  .content .sidebar__header .fa-angle-left {
    display: none;
  }
  .content .product .content_item .content_2 a:nth-child(2) img {
    display: none;
  }
  .nav__mobile {
    display: block;
  }
  footer .footer-2 ul {
    flex-wrap: wrap;
  }
  .content .main .searchPoppular .sort {
    justify-content: center;
  }
  footer .footer-2 .icon-footer {
    justify-content: start;
    margin-top: 10px;
  }
  .w-75 {
    width: 100% !important;
  }
  header .header_section {
    margin-top: 0;
  }
  .content .sidebar-tab .sidebar__header {
    margin-left: 23px;
  }
  .content .sidebar .sidebar__header::after {
    display: none;
  }
  .content .sidebar-tab .sidebar__footer {
    display: block;
  }
  .content .sidebar .sidebar__header .text-sidebar .toggle-sliders {
    display: none;
  }
  .content .sidebar .sidebar__header .text-sidebar .sidebar-sliders {
    display: block;
  }
  .search-table form select {
    display: none;
  }
}
