:root {
    --green-main: #0e963f;
}

@font-face {
    font-family: Baloo;
    src: url(../font/baloo/BalooBhaina2-Bold.ttf);
}
@font-face {
    font-family: SanFranciscoDisplay;
    src: url(../font/SF-UI/SF-UI-Display-Regular.otf);
}
@font-face {
    font-family: SanFranciscoDisplayBold;
    src: url(../font/SF-UI/SF-UI-Display-Bold.otf);
}
a,
a:hover {
    text-decoration: none;
}
body {
    font-size: 15px;
    font-weight: 400px;
    font-family: 'SanFranciscoDisplay';
    margin: 0px;
    padding: 0px;
}
/* section header */
header {
    background-image: url('../image/background-banner.png');
    background-size: cover;
    background-position: center;
    min-height: 657px;
    overflow: hidden;
}

.header .container .row {
    max-height: 50px;
}
.header .menu-top {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    margin: 0;
}
.header .menu-top li {
    list-style: none;
    padding: 5px 20px;
}

.header .menu-top li a {
    text-decoration: none;
    color: black;
}
.header .menu-top li:first-child {
    background-color: var(--green-main);
    font-weight: bold;
}
.header .menu-top li:hover {
    background-color: #0e963f;
}
.header .menu-top li:hover a {
    color: white;
}
.header .menu-top li:first-child a {
    color: white;
}

.header .logo {
    align-items: center;
    display: flex;
}
.header .logo img {
    width: 58px;
    height: 64px;
}
/* nav-top hidden */
.menu-mobile {
    background-color: #d9f1e2;
    position: fixed;
    top: 5px;
    bottom: 0;
    right: 0;
    min-width: 230px;
    max-width: 300px;
    z-index: 999999;
    transition: 0.5s;
    transform: translateX(100%);
    padding: 20px;
}
.menu-mobile .close {
    width: 100%;
}
.menu-mobile .close img {
    width: 30px;
    transition: 0.5s;
}
.menu-mobile .close img:hover {
    transform: rotate(45deg);
}
.menu-mobile .menu-mobile-container li {
    list-style: none;
}
.menu-mobile .menu-mobile-container li a {
    text-decoration: none;
}
.actives {
    transform: translateX(0);
}
.header .bars {
    display: none;
    text-align: end;
}
.header .bars img {
    width: 30px;
}
/* banner header */
.banner .content {
    margin-top: 200px;
}
.banner .title {
    margin: 25px 0 25px 0px;
}

.banner h1 {
    font-family: 'Baloo';
    font-size: 64px;
    line-height: 30px;
}
.banner .btns {
    font-size: 20px;
    font-family: 'Baloo';
    float: left;

    background-color: #0e963f;
    padding: 5px 25px;
    color: white;
}
.banner .btns:hover {
    background-color: #266816;
}

.banner .ceo img {
    height: 572px;
}

/* section about */

.about {
    background-image: url('../image/about.png');
    background-size: cover;
    overflow: hidden;
    min-height: 774px;
}
.about .col-lg-7 {
    padding: 0;
}
.about .phil li .pen {
    display: flex;
    margin-left: -20px;
}

.about .title li {
    margin-bottom: 3px;
}
.about .phil img {
    margin: 0 15px 0 0;
    width: 28px;
    height: 32px;
    max-width: 100%;
}
.about .phil li:nth-child(2n + 1) {
    margin: 15px 0 10px 0;
    list-style: none;
    font-size: 28px;
}
.about .content {
    margin: 66px 0 14px 0;
}
.about .content h2 {
    font-family: 'Baloo';
    font-size: 40px;
    margin-left: 20px;
}
.about .btn {
    margin-bottom: 20px;
}
.about .btn a {
    padding: 5px 25px;
    color: white;

    font-family: 'Baloo';
    margin-left: 10px;
    background-color: var(--green-main);
    margin-bottom: 5px;
}
.about .btns:hover {
    background-color: #085805;
}

.about .phil .pen h4 {
    font-family: 'Baloo';
    font-size: 28px;
}
.about .about-left img {
    width: 935px;
}
/* section services */

.services {
    width: 100%;
    background-image: url('../image/Layer\ 41.png');
    background-size: cover;
    background-position: bottom;
    position: relative;

    min-height: 1280px;
    margin: 50px 0 0 0;
}
.services::before {
    content: '';
    background-image: url('../image/Layer\ 42.png');
    width: 1920px;

    height: auto;
    bottom: 5;
    right: 0;
    position: absolute;
}
.services .ser {
    padding-right: 0;
}
.services .col-lg-4 {
    margin: 0 0 20px 0;
}
.services .card-services {
    width: 100%;

    border: 0.5px solid #848490;
}
.services .title-service {
    margin: 80px 0 45px 0;
}
.services .title-service h2 {
    font-size: 40px;
    margin-bottom: 25px;
    font-family: 'Baloo';
}

.card-services {
    background-color: white;
}
.card-services .card-img {
    position: relative;
}
.card-services .card-img .notifis {
    position: absolute;
    bottom: 0;
    font-family: 'SanFranciscoDisplayBold';
    font-size: 18px;
    color: white;
    background-color: #d93434;
}
.card-services .card-img .notifis img {
    width: 17px;
    height: 17px;
}
.card-services .card-img .notifis .notifi {
    margin: 5px 5px;
}
.card-services .card-img img {
    object-fit: cover;
    max-width: 100%;
}
.services .card-content {
    margin: 15px;
}
.services .card-content ul {
    padding: 0;
}
.services .card-content ul li {
    list-style: none;
    margin: 0 0 10px 0;
}

.services .card-content ul li a {
    color: #0b2537;
}
.services .card-content ul li a .title {
    font-family: 'Baloo';
    font-size: 1.2rem;
}
.services .card-content ul li a .title:hover {
    color: #085805;
}
.services .card-content .user {
    display: flex;
}
.services .card-content .user h5 {
    font-size: 17px;
    font-weight: bold;
}
.services .card-content .user img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.services .card-content .carlenda {
    display: flex;
    align-items: center;
}

.services .card-content .carlenda img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.services .card-content .carlenda span {
    color: red;
    font-weight: bold;
    font-size: 17px;
    margin-right: 5px;
}
.services .card-content .carlenda span:nth-child(2) {
    color: black;
    font-weight: bold;
}
.services .card-content .btn-services {
    display: flex;
    justify-content: space-evenly;
}
.services .card-content .btn-services a {
    padding: 7px 30px;
    color: white;
    font-weight: bold;
    background-color: var(--green-main);
}
.services .card-content .btn-services a:hover {
    background-color: #085805;
}
.services .card-content .active {
    background-color: #d9f1e2;
    border-radius: 30px;
    display: flex;
    display: inline-block;
    padding: 5px 15px;
    color: #0e963f;
}
.services .card-content .zoom {
    background-color: #f8e5e5;
    color: #d93434;
}
.services .card-content .active img {
    width: 17px;
    height: 17px;
}
.services .card-content .active span {
    color: #d93434;
}
.services .card-content .btn-services a:nth-child(2):hover {
    background-color: #085805;
    color: white;
}
.services .card-content .btn-services a:nth-child(2) {
    padding: 7px 25px;
    color: var(--green-main);
    font-weight: bold;

    background-color: white;

    border: 1px solid var(--green-main);
}
/* section socials */
.socials {
    background-image: url('../image/170325e901312893babed9285f8a7c01\ 1.png');
    background-size: cover;
    min-height: 470px;
    display: flex;
    align-items: center;
}
.socials .social {
    width: 248px;
    height: 95px;
    background-color: #ffffff;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 10px 10px 8px -9px rgba(87, 87, 87, 0.75);
    -webkit-box-shadow: 10px 10px 8px -9px rgba(87, 87, 87, 0.75);
    -moz-box-shadow: 10px 10px 8px -9px rgba(87, 87, 87, 0.75);
}
.socials .social:hover {
    box-shadow: -1px -1px 16px 11px rgba(201, 201, 201, 0.75);
    -webkit-box-shadow: -1px -1px 16px 11px rgba(201, 201, 201, 0.75);
    -moz-box-shadow: -1px -1px 16px 11px rgba(201, 201, 201, 0.75);
}
.socials .title {
    margin: 0 0 50px 0;
}
.socials .title h2 {
    font-size: 40px;
    text-align: center;

    font-family: 'Baloo';
}
.socials .social img {
    max-width: 100%;
    object-fit: contain;
}
.socials .social .img-1 {
    width: 154px;
}
.socials .social .img-2 {
    width: 161px;
}
.socials .social .img-3 {
    width: 191px;
}
.socials .social .img-4 {
    width: 191px;
}
.socials .social .img-5 {
    width: 178px;
}
.socials .social .img-6 {
    width: 123px;
    height: 51px;
}
.socials .social .img-7 {
    width: 181px;
}
.socials .social .img-8 {
    width: 89px;
}
/* section share */
.share {
    width: 100%;

    min-height: 560px;
    background-image: url('../image/123-01\ 1.png');
    background-size: cover;
    background-position: center;
}

.share .title h2 {
    font-size: 40px;
    text-align: center;
    margin: 50px 0;
    font-family: 'Baloo';
}
.swiper {
    width: 100%;
    height: 100%;
}
.share .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    height: 300px;
    /* Center slide text vertically */
}
.share .swiper-wrapper {
    margin-bottom: 50px;
}
.share .swiper-slide img {
    display: block;

    object-fit: cover;
}
.share .swiper .swiper-wrapper .swiper-slide {
    height: auto;
    border-radius: 10px;
}

.share .swiper-pagination .swiper-pagination-bullet {
    background-color: green;
    padding: 7px;
    position: none;
}

.share .member {
    display: flex;
    flex-direction: column;
    margin: 30px;
}
.share .member-top {
    display: flex;
    text-align: start;
    margin-bottom: 10px;
}
.share .member-top img {
    width: 80px;
    height: 83px;
}
.share .member-top .name p {
    margin-left: 20px;
}
.share .member-top .name p:first-child {
    font-weight: bold;
}
.share .member-top .name p:nth-child(2) {
    color: #7a8086;
}
.share .phay {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}
.share .phay img {
    width: 24px;
    height: 21px;
}
.share .member-bottom {
    margin-bottom: 10px;
    text-align: start;
}
.share .member-bottom i {
    color: #0e963f;
    font-size: 16px;
}
/* section new */
.news {
    min-height: 550px;
}

.news .title {
    text-align: center;
    font-size: 40px;
    margin: 80px 0 40px 0;
    font-family: 'Baloo';
}
.news .new a {
    color: #0b2537;
}
.news .new h4 {
    text-align: start;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Baloo';
}
.news .new img {
    width: 255px;
    height: 170px;
}
.news .new .date {
    margin: 9px 0;
    display: flex;
    align-items: center;
}
.news .new .date span {
    font-size: 14px;
    margin-left: 4px;
}
.news .new .date img {
    width: 18px;
    height: 17px;
}
.news .next-btn {
    position: relative;
}
.news .next-btn .swiper-button {
    z-index: 100000;
    position: absolute;
    top: 45%;
    right: 350px;
    cursor: pointer;
}
.news .swiper-new {
    width: 100%;
    height: 100%;
}

.news .swiper-button-prv {
    z-index: 100000;
    position: absolute;
    top: 45%;
    left: 350px;
    cursor: pointer;
}
.news .swiper-button img {
    height: 40px;
    width: 40px;
}
.news .swiper-button-prv img {
    height: 40px;
    width: 40px;
}
.news .swiper-slide-new {
    height: auto;
    width: 300px;
    margin-bottom: 70px;

    /* Center slide text vertically */
}

.news .swiper-slide-new img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.news .swiper-pagination-new span {
    padding: 7px;
    background-color: #0e963f;
}
/* section footer */
.footer {
    background-color: #0b2537;
    color: #a1b2c6;
}
.footer .logo-footer img {
    width: 110px;
    height: 124px;
}
.footer .left {
    margin: 50px 0 0 0;
}
.footer .left li {
    list-style: none;
    display: flex;
}
.footer .left .contact img {
    height: 24px;
    width: 24px;
    margin-right: 10px;
}
.footer .left .contact p a {
    color: #a1b2c6;
}
.footer .left .contact p a:hover {
    color: #6d747c;
}
.footer .col-lg-8 {
    margin: 50px 0 0 0;
}
.footer .right li a {
    color: #a1b2c6;
}
.footer .right li a:hover {
    color: #6d747c;
}
.footer .right li {
    margin-bottom: 7px;
}
.footer .right p {
    font-family: 'Baloo';
    margin-left: 20px;
    font-weight: bold;
    color: #d2dce7;
}
.footer .right .footer-icon {
    display: flex;
    padding: 0;
    margin-left: 20px;
}
.footer .right .footer-icon li {
    list-style: none;
    width: 45px;
    height: 41px;
}
.footer .right .footer-icon li a img {
    width: 35px;
    height: 36px;
}
.footer .right .footer-icon li a img:hover {
    opacity: 0.7;
}

.footer .col-lg-12 {
    text-align: center;
}
.footer .copyright {
    font-size: 13px;
    justify-content: center;
    padding: 0 0 10px 0;
    display: flex;
}
.footer hr {
    border-bottom: 0.5px solid #a1b2c6;
    opacity: 0.2;
}
.footer .footer-bt {
    margin-bottom: 20px;
}
/* responsive */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .header .menu-top {
        display: none;
    }
    .header .bars {
        display: block;
    }

    .menu-mobile .menu-mobile-list li a {
        color: #2d2d2d;
    }
    .banner .ceo {
        display: flex;
        justify-content: center;
    }
    .services .card-services {
        width: 100%;
    }
    .socials .social {
        width: 220px;
    }
    .share .swiper {
        margin-bottom: 10px;
    }
}
