@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;600&display=swap");
:root {
  --green-main: #048449;
  --green-dark: #374740;
  --green-light: #e5f5f0;
  --red: #d31e4b;
  --black: #333333;
  --white: #ffffff;
  --Brown: #8a8d8c;
  --brown-text: #6f7472;
}
/* CSS RESET */
* {
  font-family: "Montserrat";
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
.title-section {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: var(--green-dark);
  margin: 20px 0;
}

body {
  line-height: 1.5;
  font-size: 14px;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  margin: 0;
}
ul {
  margin: 0;
}
a,
a:hover {
  text-decoration: none;
}
.mar-top {
  margin-top: 30px;
}

/* show */
.shows {
  content: "";
  display: block;
  width: 100%;
  height: 100vh;
  position: fixed;
  background: rgba(10, 13, 20, 0.4);
  top: 0;
  left: 0;
  z-index: 9;
}

header .navgation .bars {
  display: none;
}
.bars i {
  font-size: 30px;
  color: var(--white);
}
.menu-mobile {
  background-color: var(--green-main);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  min-width: 230px;
  max-width: 300px;
  z-index: 999999;
  transition: 0.5s;
  transform: translateX(100%);
  padding: 40px 20px 20px 0;
}
.menu-mobile .close {
  position: absolute;
  right: 10px;
  top: 3px;
}
.menu-mobile-container {
  height: calc(100% - 0px);
  overflow-y: auto;
}
.actives {
  transform: translateX(0);
}
.menu-mobile .close i {
  width: 25px;
  transition: 0.5s;
  color: white;
  font-weight: bold;
}
.menu-mobile .close i:hover {
  transform: rotate(45deg);
}
.menu-mobile .menu-mobile-container li {
  list-style: none;
}
.menu-mobile .menu-mobile-list {
  padding: 30px 30px 30px 10px;
}
.menu-mobile .menu-mobile-container li a {
  text-decoration: none;
  font-weight: bold;
  color: var(--white);
}
/* section header */
header {
  position: relative;
  overflow: hidden;
}
header .about-header {
  display: flex;
  align-items: center;
  min-height: 50px;
}
header .about-header h1 {
  font-size: 14px;
}
header .about-contact {
  justify-content: space-evenly;
  display: flex;
  align-items: center;
}
header .about-contact li {
  list-style: none;
}
header .about-contact .call {
  display: flex;
  align-items: center;
}
header .about-contact {
}
header .about-contact .intro {
  border-left: 1px solid var(--red);
  border-right: 1px solid var(--red);
  padding: 0 10px;
}
header .about-contact .contact-item img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
header .about-contact .contact-item a {
  font-weight: bold;
  color: var(--red);
}
header .about-contact .contact-item a:hover {
  color: #7e0822;
}
header .about-contact .contact {
  background-color: var(--red);
  padding: 5px 20px;
  border-radius: 30px;
}
header .about-contact .contact a {
  color: var(--white);
}
header .about-contact .contact:hover {
  background-color: #bd6e7f;
}
header .navgation {
  background-color: var(--green-main);
  min-height: 54px;
}
header .navgation .navs li a {
  color: var(--white);
  font-weight: bold;
}

header .navgation .navs li {
  list-style: none;
  padding: 15px 10px;
}
header .navgation .navs li:hover {
  background-color: var(--green-dark);
}
header .navgation .navs {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}
header .navgation .logo {
  width: 73px;
  height: 52px;
}
header .navgation .imgLogo {
  background-image: url("../Assets/logo.png");
  background-position: center;
  background-size: auto 80%;
  background-repeat: no-repeat;
}
header .navgation .navs .icon-home a img {
  width: 22px;
  height: 20px;
}
header .boxBanner {
  width: 100%;
  height: 384px;
  border-radius: 10px;
}
header .img-banner {
  background-image: url("../Assets/banner-1.png");
  background-repeat: none;
  background-size: auto 120%;
}
header .content-banner {
  background-color: var(--green-light);
  min-height: 384px;
  border-radius: 10px;
}
header .advertise h2 {
  font-weight: bold;
  color: var(--green-dark);
}
header .advertise-content .content-banner ul {
  padding: 20px;
}
header .advertise-content .content-banner ul li {
  margin-bottom: 0.7rem;
  margin-left: 10px;
  display: flex;
}
header .advertise-content .content-banner ul li span {
}
header .advertise-content .content-banner ul li img {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}
header .advertise-content .content-banner ul li:nth-child(8) {
  margin-bottom: 30px;
}

header .advertise-content .content-banner ul .btn-red {
  margin-top: 30px;
  background-color: var(--red);
  color: var(--white);
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 30px;
}
header .advertise-content .content-banner ul .btn-red:hover {
  background-color: #bd6e7f;
}
.span-black {
  color: var(--black);
  font-weight: bold;
}
.span-green {
  font-weight: bold;
  color: var(--green-main);
  margin: 0;
}
header .overview {
  margin-bottom: 50px;
}
header .overview::after {
  content: "";
  background-image: url("../Assets/hoasen.png");
  background-size: 100%;
  width: 608px;
  height: 443px;

  position: absolute;
  bottom: 0;
  z-index: -1;
}
header .overview .over-header ul {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 2px solid var(--green-light);
}
header .overview .over-header ul li {
  list-style: none;
  padding: 10px 20px;
}
header .overview .over-header ul li a {
  color: var(--Brown);
  font-weight: bold;
  font-weight: bold;
}
header .overview .over-header ul li:hover {
  color: var(--green-main);
  font-weight: bold;
  border-bottom: 3px solid var(--green-main);
}
.title-overview {
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: var(--green-dark);
}
header .overview .title-1 {
  color: var(--brown-text);
  font-size: 15px;
}
header .overview .title-2 li {
  margin-left: 30px;
}
header .overview .title-2 li span {
  color: var(--brown-text);
  font-size: 15px;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
  color: var(--Brown);
  font-weight: bold;
  font-size: 18px;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border: none;
  color: var(--green-main);
}
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border: none;
  border-bottom: 3px solid var(--green-main);
}
.tabbable .nav-tabs {
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
}
.tabbable .nav-tabs .nav-item {
  white-space: nowrap;
}
.tabpanel1 {
  margin-top: 1rem;
}
.overview .nav-tabs {
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
}

/* section work */

/* work-1 image */
.work {
  position: relative;
}
.work-1::after {
  position: absolute;
  content: "";
  background-image: url("../Assets/bg-2.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: -1;
}
.work-1::before {
  content: "";
  background-image: url("../Assets/hoasen-2.png");
  background-size: 100%;
  width: 608px;
  height: 443px;

  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.work-1 .parent {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.parent-item {
  border-radius: 20px;
  margin: 7px;
}
.title-work {
  margin-top: 200px;
}
.parent-item-1 {
  grid-area: 1 / 1 / 4 / 2;
  height: 141px;
  width: 141px;
  background-image: url("../Assets/hoatdong-1.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}
.parent-item-2 {
  grid-area: 4 / 1 / 9 / 2;
  background-image: url("../Assets/hoatdong-2.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}
.parent-item-3 {
  grid-area: 1 / 2 / 5 / 4;
  background-image: url("../Assets/hoatdong-3.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}
.parent-item-4 {
  grid-area: 5 / 2 / 9 / 4;
  background-image: url("../Assets/hoatdong-4.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}
.parent-item-5 {
  grid-area: 1 / 4 / 6 / 8;
  background-image: url("../Assets/hoatdong-5.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}
.parent-item-6 {
  grid-area: 6 / 4 / 9 / 8;
  background-image: url("../Assets/hoatdong-6.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}
.parent-item-7 {
  grid-area: 1 / 8 / 5 / 10;
  background-image: url("../Assets/hoatdong-7.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}
.parent-item-8 {
  grid-area: 5 / 8 / 9 / 10;
  background-image: url("../Assets/hoatdong-8.png");
  background-repeat: no-repeat;
  background-size: auto 101%;
  background-position: center;
}
.parent-item-9 {
  grid-area: 1 / 10 / 4 / 11;
  background-image: url("../Assets/hoatdong-9.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}
.parent-item-10 {
  grid-area: 4 / 10 / 9 / 11;
  background-image: url("../Assets/hoatdong-1.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  width: 141px;
}
/*  */

.work-2 .card-1 {
  cursor: pointer;
  border: 0.5px solid #dee1e0;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20px;
  background-color: var(--white);
}
.work-2 .card-1:hover {
  box-shadow: 4px 4px 26px 4px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 4px 4px 26px 4px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 4px 4px 26px 4px rgba(0, 0, 0, 0.26);
}
.work-2 .card-1:hover .boxImg-work {
  transform: scale(1.2);
}
.work-2 .card-1 .card-header {
  background-color: white;
}
.work-2 .card-1 .card-header h5 {
  font-weight: bold;
  padding: 10px 0;
}
.work-2 .card-1 .card-img .boxImg-work {
  transition: 1s;
  width: 100%;
  height: 236px;
  background-position: center;
}
.work-2 .card-1 .card-img {
  position: relative;
  overflow: hidden;
}
.title-tour {
  color: var(--brown-text);
  font-size: 18px;
  margin-bottom: 20px;
}
/* card img */
.work-2 .card-1 .card-img .img-item {
  background-image: url("../Assets/work-1.png");
  background-size: auto 100%;
}
.work-2 .card-1 .card-img .img-item-2 {
  background-image: url("../Assets/work-2.png");
  background-size: auto 100%;
}
.work-2 .card-1 .card-img .img-item-3 {
  background-image: url("../Assets/work-3.png");
  background-size: auto 100%;
}
.work-2 .card-1 .card-img .img-item-4 {
  background-image: url("../Assets/work-4.png");
  background-size: auto 100%;
}
.work-2 .card-1 .card-img .img-item-5 {
  background-image: url("../Assets/work-5.png");
  background-size: auto 100%;
}
.work-2 .card-1 .card-img .img-item-6 {
  background-image: url("../Assets/work-6.png");
  background-size: auto 100%;
}
/*  */

.work-2 .card-1 .card-img .notification {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.work-2 .card-1 .card-img .notification ul {
  display: flex;
  justify-content: space-between;
  background-color: var(--red);
}
.work-2 .card-1 .card-img .notification ul li {
  padding: 5px 10px;

  display: flex;
  align-items: center;
}
.work-2 .card-1 .card-img .notification ul li img {
  width: 36px;
  height: 36px;
  margin-right: 5px;
}
.work-2 .card-1 .card-img .notification ul li span {
  color: var(--white);
}
.work-2 .card-1 .card-item {
  padding: 15px;
}
.work-2 .card-1 .card-item .card-item-1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.7rem;
}
.work-2 .card-1 .card-item .card-item-1 .item img {
  margin-right: 5px;
  width: 24px;
  height: 24px;
}
.work-2 .card-1 .card-item .card-item-1 .item {
  display: flex;
  align-items: center;
}
.work-2 .card-1 .card-item .card-item-2 {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #dee1e0;
  padding: 0 0 20px 0;
}
.work-2 .card-1 .card-item .card-item-2 img {
  margin-right: 5px;
  width: 24px;
  height: 24px;
}
.work-2 .card-1 .card-price {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
}
.work-2 .card-1 .card-price span {
  color: #8a8d8c;
  font-weight: bold;
  text-decoration-line: line-through;
}
.work-2 .card-1 .card-price a {
  padding: 5px 20px;
  background-color: #ffedf1;
  font-weight: bold;
  color: var(--red);
  border-radius: 30px;
}
.work-2 .card-1 .card-price a:hover {
  background-color: #d31e4b;
  color: var(--white);
}

/* section reviews */
.reviews {
  position: relative;
}
.reviews::after {
  content: "";
  background-image: url("../Assets/bg-3.png");
  position: absolute;
  top: 0;
  z-index: -1;

  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.reviews h2 {
  margin: 70px 0 20px 0;
  color: var(--white);
}
.reviews .title-reviews {
  color: var(--white);
  font-size: 18px;
}
/* slide-1 */
.slide-1 {
  position: relative;
  margin-bottom: 60px;
}
.slide-1 .swiper-pagination {
  position: absolute;
  bottom: -40px !important;

  width: 100%;
}
.slide-1 .swiper-pagination-bullet {
  padding: 7px;
  background-color: #ffffff;
}
.slide-1 .swiper-pagination-bullet-active {
  background-color: var(--red);
}
.slide-1 .swiper {
  width: 100%;
  min-height: 100px;
}

.slide-1 .swiper-slide {
  text-align: center;
  font-size: 16px;
  background: rgb(250, 250, 250);
  border-radius: 10px;
}

.slide-1 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*  */
.slide-item {
  display: flex;
}
.slide-item .slide-item1 {
  width: 30%;
  background-color: #ecf3f0;
  padding: 15px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.slide-item .slide-item2 {
  padding: 15px;
  width: 70%;
}
.slide-item .slide-item1 .img-avatar {
  display: flex;
  justify-content: center;
}
.slide-item .slide-item2 .content {
  text-align: start;
}
.slide-item .slide-item2 .content img {
  width: 100px;
  margin-top: 0.7rem;
}
.slide-item .slide-item2 .content span {
  color: var(--green-main);
  font-style: italic;
  margin-bottom: 0.5rem;
  font-size: 15px;
}
.avatar-name {
  font-weight: bold;
}
.avatar-office {
  color: var(--green-main);
}
.slide-item .slide-item1 img {
  width: 100px;
  height: 100px;
}
.slide-item .slide-item1 .name {
  display: flex;
  flex-direction: column;
}

.hr {
  background-color: var(--green-main);
  width: 6px;
  height: auto;
  margin: 15px 0;
}

/* slide 2 */
.slide-2 {
  position: relative;
  margin: 50px 0;
}
.slide-2 .swiper {
  width: 100%;
  height: 100%;
}

.slide-2 .swiper-slide {
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 200ms linear;
  transform: scale(0.7);
  border-radius: 10px;
}
.slide-2 .swiper-slide-active {
  z-index: 11;
  height: auto;
  transform: scale(1.4, 1);
}

.slide-2 .swiper-slide a img {
  display: block;
  width: 100%;
  height: 300px;
  border-radius: 10px;
}
.slide-2 .swiper-next {
  background-color: var(--red);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: -15px;

  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}
.slide-2 .swiper-next img {
  width: 16px;
}
.slide-2 .swiper-prev {
  background-color: var(--white);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -15px;

  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}
.slide-2 .swiper-prev img {
  width: 16px;
}
/* section info */
.info {
  position: relative;
}
.info::after {
  background-image: url("../Assets/hoasen-3.png");
  content: "";
  height: 430px;
  width: 720px;
  position: absolute;
  background-size: 100%;
  top: 200px;
  right: 15%;
  z-index: -1;
}
.info .description-info {
  display: flex;
  justify-content: center;
}
.info .description-text {
  font-size: 18px;
  width: 60%;
  color: var(--brown-text);
}
.info .boxInfo {
  height: 500px;
  width: 100%;
}
.info .imgInfo {
  background-image: url("../Assets/girl.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}
.info form input {
  margin-bottom: 1rem;
  border-radius: 10px;
  border: 1px solid var(--green-main);
  padding: 10px;
}
.info form {
  margin-top: 70px;
}
.info form textarea {
  border-radius: 10px;
  margin-bottom: 1rem;
  border: 1px solid var(--green-main);
}
.info form select {
  border: 1px solid var(--green-main);
  border-radius: 10px;
}
.info form input::placeholder {
  color: var(--green-main);
}
.info form textarea::placeholder {
  color: var(--green-main);
}

.info form select {
  color: var(--green-main);
}
.info form button {
  background-color: var(--red);
  color: var(--white);
  padding: 15px 35px;
  font-weight: bold;
  border-radius: 30px;
  outline: none;
  border: none;
}

/* section footer */
footer {
  overflow: hidden;
}
.title-footer {
  color: var(--white);
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 1rem;
}
.footer {
  background-color: var(--green-main);
}
footer ul {
  margin-bottom: 1rem;
}
footer ul li {
  list-style: none;
  margin-bottom: 0.5rem;
}
footer ul li a i {
  margin-right: 7px !important;
  font-size: 20px;
  margin: 0;
}
footer a {
  color: var(--white);
}
footer a:hover {
  color: var(--green-dark);
}
footer form label {
  color: var(--white);
  margin-bottom: 1rem;
}
footer form .input-group input {
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
}

footer form .input-group .input-group-append button {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: var(--red);
  color: var(--white);
  padding: 10px 20px;
  border: none;
}
footer .icon-footer {
  cursor: pointer;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: var(--white);
  border-radius: 50%;
}
footer .icon-footer:hover {
  opacity: 0.5;
}
footer .icon-footer i {
  font-size: 30px;
  color: var(--green-main);
}
footer .icon {
  display: flex;
  margin-bottom: 3rem;
}
footer .accuracy a img {
  width: 200px;
  height: 75px;
}
footer hr {
  background-color: var(--white);
  opacity: 0.2;
}
footer .copyright {
  background-color: #00733e;
  min-height: 60px;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
/* slide 1 */
