:root {
  --main-color: #404040;
}
/* CSS RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
.title-section {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: var(--green-dark);
  margin: 20px 0;
}
label {
  margin: 0;
}
li {
  list-style: none;
}
body {
  line-height: 1.5;
  font-size: 14px;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  margin: 0;
}
ul {
  margin: 0;
}
a,
a:hover {
  text-decoration: none;
}
.mar-top {
  margin-top: 30px;
}

@media (min-width: 1200px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
    width: 1370px;
  }
}

/* test */

.wrapper {
  display: flex;
}
/* nav mobile */
.background__mobile {
  background-color: rgba(0, 0, 0, 0.75);
  bottom: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 0.25s ease-in-out;
  z-index: 10000000;
  display: none;
}

.menu__mobile {
  background-color: #fff;
  bottom: 0;
  color: #484848;
  max-width: 375px;
  outline: none;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: transform 0.25s ease-in-out, visibility 0s linear;
  width: 100%;
  z-index: 10000000000;
}
.menu__mobile .menu__header a img {
  width: 100%;
}
.active {
  transform: translateX(0);
}
.bg-filter {
  opacity: 1;
  display: block;
}
.menu__mobile .menu__header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.menu__mobile .menu__header .closes img {
  width: 10px;
  height: 10px;
}
.menu__mobile .menu__header a {
  display: block;
}
.menu__mobile .menu__header a img {
  width: 50%;
}
.menu__mobile .menu__header i {
  font-size: 20px;
}
.menu__mobile .menu__body .btn:first-child {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
}
.menu__mobile .menu__body .btn a {
  background-color: #e40046;
  padding: 10px 80px;
  border: 1.5px solid transparent;
  border-radius: 6px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 20px;
}
.menu__mobile .menu__body .btn a:nth-child(2) {
  background-color: #fff;
  border: 1.5px solid #303030;
  color: #505050;
}
.menu__mobile .menu__body .link__nav li {
  /* border-color: #ececee;
  border-style: solid none;
  border-width: 1px; */
  padding: 10px 20px;

  border-bottom: 1px solid #ececee;
}
.menu__mobile .menu__body .link__nav li:first-child {
  border-top: 1px solid #ececee;
}
.menu__mobile .menu__body .link__nav li a {
  color: #484848;
  font-weight: 600;
}
.menu__mobile .menu__body .socials .icon-footer {
  margin-top: 10px;
  display: flex;
}
.menu__mobile .menu__body .socials .icon-footer li {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #7c7c7d;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.menu__mobile .menu__body .socials {
  margin-top: 15px;
  padding: 5px 20px;
}
.menu__mobile .menu__body .socials span {
  color: #959597;
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 10px;
}
.menu__mobile .menu__body .socials .icon-footer {
  justify-content: start;
}
.menu__mobile .menu__body .socials .icon-footer li a i {
  color: #fff;
}
.menu__mobile .menu__body .socials .icon-footer li:hover {
  opacity: 0.7;
}

/* header */

header {
  box-shadow: 0 1px 8px rgb(0 0 0 / 10%);
  color: #484848;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 30000;
  height: 100px;
  background-color: #fff;
}

header .header_section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
header .header_section .logo a img {
  width: 100%;
}
header .header_section .signIn {
  display: flex;
  align-items: center;
  color: #484848;
  font-weight: 600;
}
header .header_section .signIn i {
  font-size: 20px;
  margin-right: 7px;
}
header .header_section .bar {
  display: none;
  width: 100%;
  font-size: 22px;
}
header .header_section .bar i {
  margin-right: 10px;
}

header .search form select {
  background-color: #f9f9fb;
}
header .search form select {
  color: var(--main-color);
  border-radius: 7px 0px 0px 7px !important;
}
header .search form input {
  padding: 0 70px;
  outline: none;
}
header .search form button {
  background-color: #404040;
  border-radius: 0 7px 7px 0 !important;
}
header .search form button i {
  color: white;
}
header .header__right a {
  display: flex;
  align-items: center;
  color: black;
}
header .header__right a i {
  font-size: 30px;
  margin-right: 5px;
  color: black;
}
header .header_menu {
  margin: 10px 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-weight: 600;
  align-items: center;
  height: 100%;
}
header .header_menu li {
  position: relative;
  padding: 10px 0;
}
header .header_menu li a {
  justify-content: space-around;
  color: var(--main-color);
  list-style: none;
}
header .header_menu .submenu {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ececee;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 1px 8px rgb(0 0 0 / 10%);
  color: #484848;
  left: 0;
  display: none;
  position: absolute;
  top: 100%;
  font-weight: 600;
  font-size: 12px;
}
header .header_menu li:hover::after {
  background-color: #523ee8;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  top: 42px;
  position: absolute;
  transform: scaleX(0);
  transform: scaleX(1);
  transition: transform 0.2s ease;
  width: 100%;
}
header .header_menu li:hover .submenu {
  display: block;
}
header .header_menu .submenu li {
  margin-bottom: 10px;
}
/* Content */
.content {
  position: relative;
  background-color: #fafafa;
  margin-top: 100px;
}

.content .sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
}
.sidebar-shadow {
  box-shadow: 8px 0 8px -8px rgb(0 0 0 / 10%);
}

.search-active {
  display: none;
}
.search-table {
  display: none;
}

.search-tab-active {
  display: block;
}
.search-table form select {
  background-color: #f9f9fb;
}
.search-table form select {
  color: var(--main-color);
  border-radius: 7px 0px 0px 7px !important;
}
.search-table form input {
  padding: 0 70px;
  outline: none;
}
.search-table form button {
  background-color: #404040;
  border-radius: 0 7px 7px 0 !important;
}
.search-table form button i {
  color: white;
}
/* sidebar */
.content .sidebar .sidebar__header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;
}
.content .sidebar .sidebar__item--hr {
  position: relative;
}
.content .sidebar .sidebar__header::after {
  background: linear-gradient(90deg, transparent, #ececee 30%, #ececee);
  bottom: 0;
  content: "";
  height: 1px;
  position: absolute;
  right: 0;
  width: calc(100% + 80px);
}
.content .sidebar .sidebar__header .text-sidebar {
  font-weight: 700;
  font-size: 16px;
}
.content .sidebar .sidebar__footer {
  overflow-y: scroll;
  padding: 20px;
}
.content .sidebar .sidebar__footer .categories .title {
  color: #959597;
  font-weight: 700;
  font-size: 12px;
}
.content .sidebar .sidebar__footer .categories ul {
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
.content .sidebar .sidebar__footer .categories ul:last-child {
  border: none;
}
.content .sidebar .sidebar__footer .categories ul li {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}
.content .sidebar .sidebar__footer .categories ul li:last-child {
  margin-bottom: 20px;
}
.content .sidebar .sidebar__footer .categories ul li .cate {
  display: flex;
  align-items: center;
}
.content .sidebar .sidebar__footer .categories .cate input[type="checkbox"] {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  background-color: #d5d5d5;
  border-radius: 5px;
  border: none;
}
.content .sidebar .sidebar__footer .categories ul li .cate label {
  color: #505050;
  font-weight: 700;
  font-size: 12px;
}
.content .sidebar .sidebar__footer .categories ul li .result span {
  color: #505050;
  font-weight: 700;
}
/* main */
.content .main .trending {
  display: flex;
  margin: 10px 0;
}
.content .main .trending .trending__left {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.content .main .trending .trending__left .title {
  margin-right: 5px;
  font-weight: 600;
}
.content .main .trending .trending__left {
  display: flex;
  align-items: center;
}

.content .main .trending .trending__left ul li:hover {
  box-shadow: 0 1px 8px rgb(0 0 0 / 30%);
}

.content .main .trending .trending__left ul li span {
  margin-right: 10px;
}
.content .main .trending .trending__left ul li img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}
.content .main .trending .trending__left a {
  background-color: white;
  border-radius: 10px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 1px 8px rgb(0 0 0 / 10%);
  color: #505050;
  width: auto;
}

/* right */
.content .main .trending .trending__right {
  display: flex;
  align-items: center;
}
.content .main .trending .trending__right {
  display: flex;
  align-items: center;
}
.content .main .trending .trending__right .title {
  display: flex;
  align-items: center;
  margin-right: 5px;
  font-weight: 600;
}
.content .main .trending .trending__right .title i {
  margin-right: 5px;
}
.content .main .trending .trending__right ul {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.content .main .trending ul .trending__item {
  align-items: center;
  display: flex;
  justify-content: center;
  /* margin-right: 10px; */
  background-color: white;
  border-radius: 10px;
  background-color: #fff;
  border-radius: 30px;
  padding: 4px 25px;
  box-shadow: 0 1px 8px rgb(0 0 0 / 10%);
  cursor: pointer;
  margin-right: 10px;
}
.content .main .trending ul .trending__item:first-child {
  margin-right: 30px;
}
.content .main .trending ul .pick {
  padding: 7px 40px;
}
.content .main .trending .trending__right ul li:hover {
  box-shadow: 0 1px 8px rgb(0 0 0 / 30%);
}
.content .main .trending .trending__right ul li span {
  margin-right: 10px;
}
.content .main .trending .trending__right ul li img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}
.content .main .trending .trending__right a {
  color: #505050;
  width: auto;
}
.content .main .searchPoppular {
  margin: 20px 0;
}
.content .main .searchPoppular .sort {
  display: flex;
  justify-content: end;
  width: 100%;
}
.content .main .searchPoppular select {
  background-color: #fff;
  border: 2px solid #e0e0e1;
  color: #505050;
  font-weight: 700;
  font-size: 12px;
  padding: 10px 150px 10px 10px;
}

.content .main .product .boxImg {
  /* border-radius: 10px; */
  overflow: hidden;
}
.content .main .product .boxImg .img-product {
  background-image: url("https://elements-cover-images-0.imgix.net/75119904-bad7-40ab-ba45-704fd358139a?auto=compress%2Cformat&fit=max&w=1170&s=fdd21afedf579baf83d3a28a298d686c");
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}

.content .product .content_item {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  background-color: #fff;
}
.content .product .content_item .content_1 {
  width: 70%;
  margin-right: 10px;
}
.content .product .content_item .content_1 .text-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content .product .content_item .content_1 .text-title span {
  color: #303030;
  font-weight: 700;
}
.content .product .content_item .content_1 a {
  color: #959597;
}
.content .product .content_item .content_1 .titlel:hover {
  text-decoration: underline;
}
.content .product .content_item .content_2 a img {
  width: 100%;
  height: 23px;
  margin-right: 10px;
}
.content .product .content_item .content_2 a img:hover {
  filter: brightness(70%);
}
.content .product .content_item .content_2 {
  display: flex;
  justify-content: end;
  width: 100%;
}
.border-content {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 1px 8px rgb(0 0 0 / 10%);
}
.border-content:hover {
  box-shadow: 0 5px 25px rgb(0 0 0 / 10%);
  transform: translateY(-5px);
  transition: 0.3s;
}

/* footer */
footer {
  background-color: #282828;
  overflow: hidden;
  padding-bottom: 60px;
}
footer .footer-item {
  padding-top: 50px;
  padding-bottom: 60px;
}
footer .title {
  color: #7c7c7d;
}
footer .footer-1 ul li {
  margin: 10px 0;
}
footer .footer-1 ul li a {
  color: white;
}
footer .footer-1 ul li:hover {
  text-decoration: underline;
}

footer .footer-1 input {
  padding: 7px 40px 7px 10px;
  border-radius: 7px;
  outline: none;
}
footer .footer-1 button {
  padding: 0 30px;
  background-color: #e40046;
  color: white;
  border: 1px solid #e40046;
  outline: none;
}
footer .footer-1 span {
  color: white;
}
footer .footer-1 .title {
  color: #7c7c7d;
  font-weight: 700;
}
footer .footer-1 ul {
  font-weight: 700;
}
footer .footer-1 .input-group {
  margin: 10px 0;
}
footer .footer-1 .footer-search a {
  color: white;
}
footer .footer-2::before {
  border-top: 1px solid #383838;
  content: "";
  display: block;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 20px;
  padding-top: 20px;
  width: 100%;
}
footer .footer-2 ul {
  display: flex;
  font-weight: 700;
}
footer .footer-2 .link-footer li:not(:last-child):after {
  content: "|";
  margin-left: 10px;
  margin-right: 10px;
  color: #7c7c7d;
  font-weight: 700;
}
footer .footer-2 .link-footer li a {
  color: #fff;
}
footer .footer-2 .link-footer li:hover {
  text-decoration: underline;
}
footer .footer-2 .copyright {
  color: #7c7c7d;
}
footer .footer-2 .icon-footer li {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #7c7c7d;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
footer .footer-2 .icon-footer {
  justify-content: end;
}
footer .footer-2 .icon-footer li a i {
  color: #282828;
}
footer .footer-2 .icon-footer li:hover {
  opacity: 0.7;
}
/* nav mobile */
.nav__mobile {
  display: none;
}
.nav__mobile nav {
  background-color: #fff;
  bottom: 0;
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 15%);
  display: flex;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 9000;
}
.nav__mobile nav a {
  align-items: center;
  background: none;
  border: 0;
  color: #505050;
  cursor: pointer;
  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 14px;
  outline: 0;
  padding: 15px 0;
  position: relative;
  text-align: center;
}
.nav__mobile nav a i {
  font-size: 22px;
  margin-bottom: 5px;
}
.sidebar__mobile {
  background-color: #fff;
  display: block;
  height: 100%;
  max-width: 100%;
  position: absolute;
  width: 320px;
  top: 0;
  z-index: 1000000000;
}
.sidebar-tab {
  background-color: #fff;
  display: none;
  height: 100%;
  max-width: 100%;
  position: absolute;
  width: 320px;
  z-index: 100;
  left: 0;
}
.sidebar-tab-active {
  display: block;
}
/* sidebar */
.content .sidebar-tab .sidebar__header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;
}
.content .sidebar-tab .sidebar__item--hr {
  position: relative;
}
.content .sidebar-tab .sidebar__header::after {
  background: linear-gradient(90deg, transparent, #ececee 30%, #ececee);
  bottom: 0;
  content: "";
  height: 1px;
  position: absolute;
  right: 0;
  width: calc(100% + 80px);
}
.content .sidebar-tab .sidebar__header .text-sidebar {
  font-weight: 700;
  font-size: 16px;
}
.content .sidebar-tab .sidebar__footer {
  overflow-y: scroll;
  padding: 20px;
}
.content .sidebar-tab .sidebar__footer .categories .title {
  color: #959597;
  font-weight: 700;
  font-size: 12px;
}
.content .sidebar-tab .sidebar__footer .categories ul {
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
.content .sidebar-tab .sidebar__footer .categories ul:last-child {
  border: none;
}
.content .sidebar-tab .sidebar__footer .categories ul li {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}
.content .sidebar-tab .sidebar__footer .categories ul li:last-child {
  margin-bottom: 20px;
}
.content .sidebar-tab .sidebar__footer .categories ul li .cate {
  display: flex;
  align-items: center;
}
.content
  .sidebar-tab
  .sidebar__footer
  .categories
  .cate
  input[type="checkbox"] {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  background-color: #d5d5d5;
  border-radius: 5px;
  border: none;
}
.content .sidebar-tab .sidebar__footer .categories ul li .cate label {
  color: #505050;
  font-weight: 700;
  font-size: 12px;
}
.content .sidebar-tab .sidebar__footer .categories ul li .result span {
  color: #505050;
  font-weight: 700;
}
.content .sidebar-tab .sidebar-item {
  position: sticky;
  top: 60px;
}
.display-none {
  display: none;
}
